.navbar-nav .nav-link.active{
    background-color:#cfe2ff;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,.25);
}
.inner{
    min-height: 140px;
}
body{
    transition: all 1s;
}
.layer{
    opacity: 0;
    transition: all 1s;
}
.aboutInner:hover .layer{
    opacity: 0.9;
}
.form-control:focus{
    border: unset;
}